{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Login </title>
{% endblock %}

    
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/logInPage.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    {% endblock %}
  
    {% block body %}
  <body>
    
    
    
    <div class="container login-container">
                <div class="row">
                    <div class="col login-form-1">
                        <h3>Log in</h3>
                        <form action='' method='POST' enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="example@gmail.com" value="" name="email" required />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" value="" name="password" required/>
                            </div>
                            <div class="form-group loginBtnGroup">
                                <input type="submit" class="btnSubmit" value="Login" />
                            </div>
                            
                        </form>
                    </div>
                   
                </div>
            </div>
  </body>
{% endblock  %}


{% block jsscript %}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
